@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --soviet-red: #8f0000;
  --soviet-cream: #e3d5c1;
  --soviet-black: #000000;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.settings {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.highlight-box {
  position: absolute;
  top: 8%;
  height: 80%;
  width: 35%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 0;
}

.settings-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  z-index: 1;
}

.settings h1 {
  color: var(--soviet-red);
  font-family: "Orbitron", sans-serif;
  margin-bottom: 30px;
}

.settings-option {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--soviet-cream);
}

.settings-option label {
  margin-right: 10px;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  color: var(--soviet-cream);
}

.option-button,
.option-select,
.back-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  background-color: var(--soviet-red);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: none; /* Ensures no shadow is applied */
}

.option-button:hover,
.option-select:hover {
  background-color: var(--soviet-cream);
  color: var(--soviet-black);
}

.back-button {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  background-color: var(--soviet-red);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  box-shadow: none; /* Ensures no shadow is applied */
}

.back-button:hover {
  background-color: var(--soviet-cream);
  color: var(--soviet-black);
}

button,
.option-select {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: none; /* Ensures no shadow is applied */
}

button,
.option-select:before,
button:before,
.option-select:after,
button:after {
  content: none; /* Ensures no shadow is applied */
}
